//- Article
.article-view
  .article-header
    .navigation
      .back(@click='back')
      .title Plants in space
    .actions
      .more
      button.publish Publish
  .document
    .paragraph
      .sentence(:class='{highlight: data.selection == 0, translated: data.translation[0]}', v-html='data.content[0]')
      .sentence(:class='{highlight: data.selection == 1, translated: data.translation[1]}', v-html='data.content[1]') 
      .sentence(:class='{highlight: data.selection == 2, translated: data.translation[2]}', v-html='data.content[2]') 
      .sentence(:class='{highlight: data.selection == 3, translated: data.translation[3]}', v-html='data.content[3]') 
      .sentence(:class='{highlight: data.selection == 4, translated: data.translation[4]}', v-html='data.content[4]') 
      .sentence(:class='{highlight: data.selection == 5, translated: data.translation[5]}', v-html='data.content[5]')
      .sentence(:class='{highlight: data.selection == 6, translated: data.translation[6]}', v-html='data.content[6]') 
  .proposal-card
    .header
      .title(v-if='data.translation[data.selection]') Current translation
      .title(v-if='!data.translation[data.selection]') Proposed translation
      .navigation
        .prev(:class='{disabled: data.selection == 0}', @click='prev()')
        .next(@click='next()')
    .translation(v-if='data.translation[data.selection]',v-html='data.translation[data.selection]')
    .translation(v-if='!data.translation[data.selection]', v-html='data.mt[data.targetLang][data.selection]')
    .actions
      button.apply(@click='apply', v-if='!data.translation[data.selection]') Apply
      button.primary.edit Edit translation
