// "main": "main.less"
.compose-view {
  display: flex;
  flex-direction: column;
  height:100vh;
  .source-card {
    .card;
    line-height: 1.5em;
    height: 3em;
    padding: 16px 8px;
    overflow-x: auto;
  }
  .source {
    //padding: 16px;
    columns: 1 100vw;
    column-gap: 8px;
    width: 100vw;
    max-height: 3em;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
    .title {
      font-weight: bold;
      margin-right: 8px;
    }
    .description {
      font-size: 14px;
      color: #72777D;
    }
  }
  .back {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: center center url(../media/back.svg) no-repeat;
    background-size: contain;
    margin-right: 8px;
  }
  .settings {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: center center url(../media/settings.svg) no-repeat;
    background-size: contain;
    margin-left: auto;
    opacity: 0.8;
  }

  .translation-card {
    display: flex;
    flex-direction: column;
    .card;
    flex: auto;
  }
  .toolbar {
    flex:none;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #C8CCD1;
  }
  .edit-tools {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    padding: 0 8px;
  }
  .bold {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: center center url(../media/bold.svg) no-repeat;
    background-size: contain;
    margin-right: 8px;
  }
  .italics {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: center center url(../media/italics.svg) no-repeat;
    background-size: contain;
    margin-right: 8px;
  }
  .links {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: center center url(../media/link.svg) no-repeat;
    background-size: contain;
    margin-right: 8px;
  }
  .mic {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: center center url(../media/mic.svg) no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: 8px;
  }

  .fullscreen {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: center center url(../media/fullscreen.svg) no-repeat;
    background-size: contain;
    margin-right: 8px;
  }

  .publish {
    margin-left: auto;
    border-radius: 0;
  }
  .translation {
    line-height: 1.5em;
    padding: 16px;
    flex: auto;
    outline: none;
  }
}
