// "main": "main.less"
.compose-view {
  display: flex;
  flex-direction: column;
  .source-card {
    .card;
    height:30vh;
  }
  .navigation {
    padding: 16px;
  }
  .translation-card {
    .card;
  }
  .translation {
    padding: 16px;
    height:70vh;
  }
}
