// "main": "main.less"
.compose-view {
  display: flex;
  flex-direction: column;
  height:100vh;
  .source-card {
    .card;
    height: 3em;
    padding: 16px;
  }
  .navigation {
    padding: 16px;
  }
  .translation-card {
    display: flex;
    .card;
    flex: auto;
  }
  .translation {
    padding: 16px;
    flex: auto;
  }
}
