//- Tutorial
.tutorial-view
  .tutorial
    h1 Ready to translate?
    ol
      li Select a sentence and translate it.
      li You can use automatic translation to get started quickly, but make sure to review it. 
      li You can review each paragraphs to do further adjustments when you complete it.
      li Publish to create a new article when the translation is ready.
    button.primary(@click='next') Start translating
